@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800;900&display=swap');
. {}

body {
    height: 100%;
    background: url('image/hero.png') no-repeat center top fixed;
    text-align: center;
    text-decoration: none;
    font-family: Montserrat, Arial, sans-serif;
    margin: 0 auto;
}

main {
    margin: 0 auto;
    padding: 300px;
}

h1 {
    margin: 0 auto;
    padding-top: 10px;
    font-family: Montserrat;
    font-weight: 900;
    color: #D7263D;
    font-size: 4em;
}

h2 {
    font-weight: 900;
    color: #D7263D;
}

p {
    font-weight: 400;
    color: #B8B8AA;
    line-height: 1.3em;
}

span {
    font-weight: 800;
}

nav a {
    text-decoration: none;
    color: #D7263D;
}

nav a:hover {
    font-weight: 900;
}

article img {
    width: 150px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
    justify-content: space-around;
}